@use '../helpers' as *;

.logo {
  @include flex-center();

  gap: 8px;

  @include reset-link;

  @include hover {
    color: var(--color-primary);
  }

  &__image {
    $heightImage: 24px;

    @include square($heightImage);

    color: var(--color-light);

    &-wrapper {
      @include square(50px);
      @include flex-center;

      border-radius: 50%;
      background-color: var(--color-primary);
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
  }
}
